*{
  margin:0;
}


body{
 
}


.container label{
  font-size: 16px;
  

}


.container input{
  /* height: 20px;
  width: 150px; */
}
.container{
  position: relative;
  border:1px solid black;
  width: 500px;
  height: 450px;
 

}

.Full_name{
  
  width: 193px;
  height: 43px;
 
  float:left;
  padding-left: 26px;
  /* padding-left: 50px; */
  padding-top: 30px;
  padding-right: 10px
  
}
.Full_name input{
  width: 203px;
    height: 35px;
}

.Username{
  
  width: 193px;
  height: 43px;
  float:right;
  padding-left: 10px;
  padding-right: 40px;
  padding-top: 30px;
}
.Username input{
  width: 203px;
    height: 35px;
}

.Email{
 
  width: 193px;
  height: 43px;
  float:left;
  padding-left: 26px;
  padding-top: 30px;
}

.Email input{
  width: 203px;
  height: 35px;
}

.Phone_Number{
  
  width: 193px;
  height: 43px;
  float:right;
  padding-left: 28px;
  padding-right: 38px;
  padding-top: 30px;
}

.Phone_Number input{
  width: 203px;
  height: 35px;
}

.Password{
  
  width: 193px;
  height: 43px;
  float:left;
  padding-left: 26px;
  padding-top: 30px;
  padding-right: 24px;
}

.Password input{
  width: 203px;
  height: 35px;
}

.Confirm_Password{
  
  width: 193px;
  height: 43px;
  float:right;
  padding-right: 38px;
  padding-top: 30px;
}

.Confirm_Password input{
  width: 203px;
  height: 35px;
}

.gender{
  margin-top: 250px;
  margin-bottom: 10px;
}

.Reg{
  margin-left: 25px;
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
  text-decoration:antiquewhite underline;
}
.gender p{
  padding-left: 26px;
  text-align: left;
font-size: 25px;
text-decoration:antiquewhite underline;
}

.Male{

  float: left;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
}
.Female{
  float: left;
  padding-left: 35px;
  padding-bottom: 10px;
}

.Prefer_not_to_say{
  float: left;
  padding-left:55px ; 
  padding-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Button {
  margin-top: 11px;
  margin-right:97px;
 float:right;
}
.Button button {
  height:48px;
  
 width: 300px;
 font-size: 25px;
 text-align: center;
}

